<div class="app-container">
    <div class="position-relative">
        <app-sidebar [isSidebarCollapsed]="isSidebarCollapsed" (sidebarToggle)="onSidebarToggle()">
        </app-sidebar>
        <button class="sidebar-toggle-btn" [ngClass]="{ 'sidebar-collapsed': isSidebarCollapsed }" (click)="onSidebarToggle()">
            <i [class]="isSidebarCollapsed ? 'pi pi-chevron-right' : 'pi pi-chevron-left'"></i>
        </button>
    </div>

    <main class="content" [ngClass]="{ 'content-expanded': isSidebarCollapsed }">
        <router-outlet></router-outlet>
    </main>
</div>

<p-toast position="top-right"></p-toast>