.app-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

.content {
    flex-grow: 1;
    margin-left: 250px;
    transition: all 0.3s ease-in-out;
    background-color: #f4f6f7;
    overflow-y: auto;
    &-inner {
        padding: 2rem;
        max-width: 1200px;
        margin: 0 auto;
    }
    &-expanded {
        margin-left: 50px;
    }
}

.sidebar-toggle-btn {
    position: absolute;
    top: 1rem;
    left: 250px;
    background-color: #2c3e50;
    border: none;
    color: #fff;
    padding: 0.5rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    cursor: pointer;
    z-index: 1001;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease;
    &:hover {
        background-color: #34495e;
    }
    &.sidebar-collapsed {
        left: 50px;
    }
}

::ng-deep p-button .p-button-primary {
    background: #2c3e50 !important;
    border-color: #2c3e50 !important;
    color: #fff !important;
}

::ng-deep p-button .p-button-primary:hover,
::ng-deep p-button .p-button-primary:focus {
    background: transparent !important;
    border-color: #2c3e50 !important;
    color: #2c3e50 !important;
}

::ng-deep p-button .p-button-secondary {
    background: transparent !important;
    border-color: #2c3e50 !important;
    color: #2c3e50 !important;
}

::ng-deep p-button .p-button-secondary:hover,
::ng-deep p-button .p-button-secondary:focus {
    background: #2c3e50 !important;
    border-color: #2c3e50 !important;
    color: #fff !important;
}

::ng-deep p-button .p-button-danger {
    background: #dc3545 !important;
    border-color: #dc3545 !important;
    color: #fff !important;
}

::ng-deep p-button .p-button-danger:hover,
::ng-deep p-button .p-button-danger:focus {
    background: transparent !important;
    border-color: #dc3545 !important;
    color: #dc3545 !important;
}