<div class="file-manager-container">
    <!-- Header Section -->
    <div class="file-manager-header">
        <div class="breadcrumb-container">
            <p-breadcrumb [model]="breadcrumbModel().items" [home]="breadcrumbModel().home" class="file-manager-breadcrumb"></p-breadcrumb>
        </div>

        <!-- Toolbar -->
        <div class="toolbar-container">
            <app-file-manager-toolbar [viewMode]="viewMode()" [canRename]="canRename()" [canDelete]="canDelete()" [selectionCount]="selectionCount()" [currentFolderId]="currentFolderId()" [selectedItem]="selectedItem()" (renameRequested)="onRename($event)" (deleteRequested)="onDelete()"
                (viewModeChanged)="onViewMode($event)" (createFolderRequested)="onCreateFolder($event)" (uploadRequested)="onUpload($event)">
            </app-file-manager-toolbar>
        </div>
    </div>

    <!-- Content Section -->
    <div class="file-manager-content">
        <app-file-manager-list class="file-list-container" [items]="items()" [viewMode]="viewMode()" [selection]="selection()" [loading]="loading()" [error]="error()" (itemOpened)="onOpen($event)" (toggleSelected)="onToggleSelect($event)">
        </app-file-manager-list>
    </div>
</div>

<app-file-preview-dialog></app-file-preview-dialog>