<p-toolbar class="file-manager-toolbar">
    <div class="p-toolbar-group-start">
        <div class="primary-actions">
            <p-button label="Upload" icon="pi pi-upload" severity="primary" (click)="showUploadDialog()" [class]="'action-btn upload-btn'">
            </p-button>
            <p-button label="New folder" icon="pi pi-folder-plus" severity="primary" (click)="showNewFolderDialog()" [class]="'action-btn new-folder-btn'">
            </p-button>
        </div>

        <div class="toolbar-separator"></div>

        <div class="secondary-actions" [class.has-selection]="selectionCount > 0">
            <p-button label="Rename" icon="pi pi-pencil" [disabled]="!canRename" (click)="showRenameDialog()" severity="primary" [class]="'action-btn rename-btn'">
            </p-button>
            <p-button label="Delete" icon="pi pi-trash" [disabled]="!canDelete" (click)="deleteRequested.emit()" severity="danger" [class]="'action-btn delete-btn'">
            </p-button>
        </div>
    </div>

    <div class="p-toolbar-group-end">
        <div class="view-toggle">
            <p-button icon="pi pi-list" severity="secondary" [outlined]="viewMode !== 'list'" (click)="viewModeChanged.emit('list')" pTooltip="List View" tooltipPosition="bottom" [class]="'view-btn list-view-btn'">
            </p-button>
            <p-button icon="pi pi-th-large" severity="secondary" [outlined]="viewMode !== 'grid'" (click)="viewModeChanged.emit('grid')" pTooltip="Grid View" tooltipPosition="bottom" [class]="'view-btn grid-view-btn'">
            </p-button>
        </div>

        <div class="selection-info" *ngIf="selectionCount > 0">
            <span class="selection-count">{{ selectionCount }} selected</span>
        </div>
    </div>
</p-toolbar>

<app-item-name-dialog (folderCreated)="onCreateFolder($event)" (itemRenamed)="onRenameItem($event)"></app-item-name-dialog>
<app-upload-dialog (filesUploaded)="onFilesUploaded($event)"></app-upload-dialog>