<p-toolbar>
    <div class="p-toolbar-group-start" style="gap: 0.75rem; display: flex; align-items: center;">
        <p-button label="Upload" icon="pi pi-upload" severity="primary" (click)="showUploadDialog()"></p-button>
        <p-button label="New folder" icon="pi pi-folder-plus" severity="primary" (click)="showNewFolderDialog()"></p-button>
        <p-button label="Rename" icon="pi pi-pencil" [disabled]="!canRename" (click)="showRenameDialog()" severity="primary"></p-button>
        <p-button label="Delete" icon="pi pi-trash" [disabled]="!canDelete" (click)="deleteRequested.emit()" severity="danger"></p-button>
    </div>
    <div class="p-toolbar-group-end">
        <span class="mr-2" style="margin-right: 10px;">View</span>
        <p-button icon="pi pi-list" [outlined]="viewMode!=='list'" (click)="viewModeChanged.emit('list')"></p-button>
        <!-- <p-button icon="pi pi-th-large" class="ml-2" [outlined]="viewMode!=='grid'" (click)="viewModeChanged.emit('grid')"></p-button> -->
    </div>
</p-toolbar>

<app-item-name-dialog (folderCreated)="onCreateFolder($event)" (itemRenamed)="onRenameItem($event)"></app-item-name-dialog>
<app-upload-dialog (filesUploaded)="onFilesUploaded($event)"></app-upload-dialog>