.selected-row {
    background-color: rgba(30, 144, 255, 0.32) !important;
    color: inherit !important;
}

.selected-row:hover,
.non-selected-row:hover {
    background-color: rgba(30, 144, 255, 0.08) !important;
}

.folder-link {
    color: #1976d2;
    font-weight: bold;
}

.folder-link:hover {
    color: #1565c0;
}